<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # BLOQUEIO DE SEGURANÇA:
    # Proíbe o acesso direto via navegador às pastas de lógica e visualização.
    # O usuário só consegue acessar o que está na pasta 'public' (CSS, JS, Imagens, index.php).
    RewriteRule ^(app|config|views|vendor) - [F,L]
    
    # Impede que o servidor mostre a lista de arquivos se alguém acessar uma pasta sem index
    Options -Indexes
</IfModule>