body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

h1 {
    color: #2c5e2e;
    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 60px;
}

.administracao {
    display: flex;
    justify-content: center;
    gap: 80px;

    margin-top: 50px;
}

.blocos {
    background-color: #ffffff;
    width: 260px;
    height: 140px;

    border: 3px solid #2c5e2e;
    border-radius: 12px;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: 0.2s;
}

.blocos:hover {
    background-color: #f4fff4;
    transform: scale(1.06);
}

.blocos img {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
}

.blocos span {
    font-size: 24px;
    font-weight: bold;

    color: #2c5e2e;
}
